header{
    text-align: center;
}
img{
    border-radius: 50%;
    border: 8px solid rgb(0, 0, 0);
    width: 180px;
    height: 180px;
}
.titulo{
    font-size: 38px;
    color: rgb(0, 0, 0);
}
.subtitulo{
    font-size: 28px;
    color: rgb(0, 0, 0);
}
.contato{
    font-size: 18px;
    font-family: Arial;
    font-weight: bold;
    line-height: 150%;
    color: rgb(226, 43, 43);
}
body{
    background-color: rgb(214, 228, 255);
}